@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

html,body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #deecd5;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

a:link { text-decoration: none; }

.row {
     --bs-gutter-x: 0; 
}

/*---header---*/
.header {
    background-color: #272727;
    height:  85px;
  }
  
  a h1 {
    color: #FDBE11;
    font-family: 'Zen Tokyo Zoo', cursive;
  }
  
  .brand-name-top {
    font-size: 60px;
  }
  
  .brand-name-btm {
    font-size: 26px;
    letter-spacing: 5px;
    position: absolute;
    top: 53px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  /*-----burger-and-basket-icons----*/
  
  .burger-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    position: absolute;
    top: -9px;
    height: 80px;
    width: 80px;
    z-index: 3;
  }
  
  .line {
    fill: none;
    stroke: #ADADAD;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  
  .opened .line {
    stroke: white;
    transition: .5s all linear;
  }
  
  .opened {
    position: fixed;
  }
  
  .basket {
      font-size: 38px;
      position: absolute;
      color: #ADADAD;
      top: 12px;
      right: 15px;
  }
  
  #itemCounter {
    position: absolute;
    top: 48px;
    right: 48px;
    background-color: #FDBE11;
    border: 3px solid #ADADAD;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    display: none;
    }
  
  .basket-info-container {
    position: absolute;
    min-height: 100%;
    background: #00000085;
    top: 85px;
    right: 0;
    width: 0rem;
    z-index: 2;
    overflow: hidden;
  }
  
  .basket {
      font-size: 38px;
      position: absolute;
      top: 12px;
      right: 15px;
  }

  /*--------cart -------*/

   .basket-info {
      position: absolute;
      min-height: 10rem;
      background: #ADADAD;
      top: 0;
      right: 0;
      transition: all 0.3s ease-in-out;
      width: 0rem;
      z-index: 3;
      overflow: hidden;
  }

  .empty-crt-box {
    background-color: white;
    height: 50px;
    width: 268px;
    border: 2px solid #141414;
    position: absolute;
    left: 50%;
    top: 30%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }

  .itemCartRow {
    margin-bottom: 15px;
  }

  .basket-show {
    width: 100%;
    padding: 1.8rem;
  }
  
  .basket-info-show {
    width: 19rem;
    padding: 2rem;
  }

  .qtySectionInc {
    position: absolute;
    right: 75px;
    background-color: green;
  }

  .qtySectionDec {
    position: absolute;
    right: 120px;
    background-color: rgb(185, 57, 57);
  }

  .qtySectionNum {
    position: absolute;
    right: 100px;
    background-color: white;
    height: 25px;
    width: 20px;
    font-size: 16px;
  }

  .btnCartDel {
    position: absolute;
    right: 8px;
    background-color: rgb(185, 57, 57);
  }

  .btnCartDel, .qtySectionDec, .qtySectionInc {
    font-size: 14px;
    height: 25px;
    color: #ecebeb;
  }

  .itemNameCart {
    margin-right: 10px;
    font-size: 16px;
  }

  .itemPriceCart {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 170px;
    margin-top: 3px;
  }

  .cart-total-row {
    position: absolute;
    bottom: 10px;
    left: 38px;
  }

  .ammountTotal {
    margin-left: 15px;
    font-weight: 400;
    font-style: italic;
  }
  
  .total-txt {
    font-weight: bold;
    letter-spacing: 1.4px;
  }

  @media screen and (min-width: 992px) {
    .basket-info-show {
      width: 22rem;
      padding: 2rem;
    }
  }

  /*-----dropdwn nav ------*/

.dropdwn-mnu {
  display: flex;
  width: 100vw;
  height: 86vh;
  position: absolute;
  left: 0px;
  z-index: 2;
  background-color: #272727;
  display: none;
}

.nav-home, .nav-drinks, .nav-food, .nav-meetings, .nav-findus {
  font-family: 'Londrina Outline', cursive;
  font-size: 2.2rem;
  color: white;
  position: absolute;
  font-weight: 600;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.nav-home:hover, .nav-drinks:hover, .nav-food:hover, .nav-meetings:hover, .nav-findus:hover {
 color: #FDBE11;
 font-size: 2.3rem;
 transition: all 0.3s ease-in-out;
}

.nav-home {
  top: 10%;
}

.nav-drinks {
  top: 30%
}

.nav-food {
  top: 50%;
}

.nav-meetings {
  top: 70%
}

.nav-findus {
  top: 90%
}

@media screen and (min-width: 992px) {
  .dropdwn-mnu {
    position: relative;
    height: 50px;
  }
  .nav-home, .nav-drinks, .nav-food, .nav-meetings, .nav-findus {
    top: 50%;
    font-size: 1.9rem;
  }
  .nav-home {
    left: 10%;
  }
  
  .nav-drinks {
    left: 30%;
  }
  
  .nav-food {
    left: 50%;
  }
  
  .nav-meetings {
    left: 70%;
  }
  
  .nav-findus {
    left: 90%;
  }
}

  /*------- Home page ---------*/

.hero-cards-group {
  width: 100vw;
  margin-top: 10px;
  position: absolute;
}

.hero-card {
  margin-top: 80px;
  height: 25vh;
  margin: 6px;
  z-index: 1;
  overflow: hidden;
  border: 4px solid #141414;
}

.menu-hero {
  background-image: url(../assets/images/food.jpg);
    background-position: 50% 40%;
}

.meetings-hero {
  background: url(../assets/images/meetings.jpg);
    background-position: 40% 50%;
}

.coffee-hero {
  background: url(../assets/images/coffee.jpg);
    background-position: 40% 50%;
}

.find-us-hero {
  background: url(../assets/images/st-pauls.jpg);
    background-position: 40% 45%;
}

.menu-hero, .meetings-hero, .coffee-hero, .find-us-hero {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: fixed;
    position: relative;
}

.caption { 
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center; 
    bottom:0; 
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.8);
}

.caption:hover {
    background: rgba(0, 0, 0, 0.3);
    transition: 1s;
}

.caption-text, #nav-home, #nav-drinks, #nav-food, #nav-meetings, #nav-findus {
  font-family: 'Londrina Outline', cursive;
  color: white;
  font-size: 3rem;
  text-decoration: none;
}

.video-hero {
  position: absolute;
  height: 100%;
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 992px) {
  .hero-card {
    width: 25%;
    height: 80vh;
  }
  .coffee-hero, .menu-hero, .find-us-hero, .meetings-hero {
  background: none;
    }
}

/*------meetings----*/

.meetings-container {
  height: 85vh;
  position: absolute; 
}

.form-background {
  background-color: #ADADAD;
  height: 80vh;
  width: 90vw;
  margin-left: 6%;
  margin-right: auto;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: scroll;
}

.meeting-heading {
  font-family: 'Zen Tokyo Zoo', cursive;
  color: #deecd5;
  letter-spacing: 8px;
  position: fixed;
  top: 10px;
  font-size: 28px;
  margin-bottom: 20px;
}

.meetings-text {
  background-color: #141414;
  border: 2px solid #deecd5;
  border-radius: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: none;
  margin-top: 20px;
  color: #ADADAD;
  font-size: 22px;
  font-weight: 200;
}

.meetingRoom {
  width: 80%;
  margin-left: auto;
  margin-right: 20%;
  position: relative;
  top: 16rem;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
}

.submit-btn-meetings {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #FDBE11;
}

.form-control {
  margin-bottom: .6em;
}

@media screen and (min-width: 375px) {
  .form-control {
    margin-bottom: 0.8em;
   }
  .meetingRoom {
    top: 17rem;
  } 
}

@media screen and (min-width: 768px) {
  .form-control {
   margin-bottom: 3rem;
  }
  .form-right {
    position: relative;
    left: 5px;
  }
  .form-left {
    position: relative;
    right: 5px;
  }
  .form-txt-box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .meetingRoom {
    top: 50%;
  } 
  .meetings-text {
    display: block;
  }
}

/* ----- food and drinks menus-----*/
.menu-container {
  height: 90vh;
  position: absolute;
}

.menu-text {
font-weight: 400;
}

.menu-price {
font-weight: bold;
}

.food-description {
font-style: italic;
font-weight: 300;
}

.menu-btns {
position: relative;
left: 50%;
transform: translateX(-50%);
margin-top: 10px;
}

.addBtn {
color: white;
background-color: green;
border-radius: 70px;
height: 30px;
width: 30px;
}

.on-the-go .row, .left-extras .row, .right-extras .row, .coffee-left .row, .coffee-right .row, .other-hot-drinks .row, .cold-drinks .row, .flatbread-item {
margin-bottom: 10px;
}

.menu-breakfast, .menu-lunch, .menu-coffee, .menu-drinks {
  width: 90%;
  height: 80vh;
  padding: 8px;
  background-color:#ADADAD;
  position: relative;
  left: 50%;
  top: 46%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 10px solid white;
  overflow: auto;
  font-weight: 300;
}

.primary-menu-btn, .secondary-menu-btn {
width: 95px;
background-color: #6D5F61;
color: #FDBE11;
}

.btn-active {
  background-color: #FDBE11;
  color: #6D5F61;
  font-weight: 500;
  text-decoration: underline;
  box-shadow: -2px 2px #141414, -1px 1px #141414, -0.5px 0.5px #141414;
  border: 0.5px solid #141414;
  position: relative;
  top: -0.9px;
}

@media screen and (min-width: 576px) {
  .left-extras, .right-extras{
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .salads, .flatbreads, .coffee-left, .coffee-right, .other-hot-drinks, .cold-drinks {
    width: 50%;
  }
  .on-the-go, .open-toasts {
    width: 100%;
  }
  .menu-contents {
    position: relative;
    top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  }
  .on-the-go .row, .left-extras .row, .right-extras .row, .coffee-left .row, .coffee-right .row, .other-hot-drinks .row, .cold-drinks .row {
    margin-bottom: 30px;
    }
  .open-toasts-item {
    margin-top: 25px;
  }
  .flatbread-item {
    margin-bottom: 20px;
  }
  .salad-item {
    margin-top: 88px;
  } 
}

@media screen and (min-width: 1635px) {
  .salad-item {
    margin-top: 62px;
  } 
}

/*-------find us------*/

#map {
  height: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #141414;   
}

div#map {min-height: 360px;}

.get-in-touch-box {
background-color: #6D5F61;
width: 90%;
margin-left: auto;
margin-right: auto;
padding: 5px;
margin-top: 20px;
margin-bottom: 10px;
}

.findus-icon i {
color: #FDBE11;
font-size: 24px;
margin: 4px;
}

.contact-info {
font-size: 18px;
color: #ADADAD;
font-weight: 200;
}

.get-in-touch-left {
margin-bottom: 10px;
}

.get-in-touch-right {
background-color: #ADADAD;
margin-left: auto;
margin-right: auto;
width: 80%;
}

@media screen and (min-width: 576px) {
  .get-in-touch-right {
    width: 63%;
  }
}

@media screen and (min-width: 992px) {
  .get-in-touch-left, .get-in-touch-right {
    width: 50%;
  }
}