@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

html,body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #deecd5;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

a:link { text-decoration: none; }

.row {
     --bs-gutter-x: 0; 
}

/*---header---*/
.header {
    background-color: #272727;
    height:  85px;
  }
  
  a h1 {
    color: #FDBE11;
    font-family: 'Zen Tokyo Zoo', cursive;
  }
  
  .brand-name-top {
    font-size: 60px;
  }
  
  .brand-name-btm {
    font-size: 26px;
    letter-spacing: 5px;
    position: absolute;
    top: 53px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  /*-----burger-and-basket-icons---*/

.burger-container, .basket-container  {
    height: 85px;
  }
  
  .burger-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    position: absolute;
    top: -9px;
    height: 80px;
    width: 80px;
    z-index: 3;
  }
  
  .line {
    fill: none;
    stroke: #ADADAD;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  
  .opened .line {
    stroke: white;
    transition: .5s all linear;
  }
  
  .opened {
    position: fixed;
  }
  
  .basket {
      font-size: 38px;
      position: absolute;
      color: #ADADAD;
      top: 12px;
      right: 15px;
  }
  
  .item-count {
    position: absolute;
    top: 48px;
    right: 48px;
    background-color: #ADADAD;
    border: 1px solid #ADADAD;
    border-radius: 50px;
    height: 24px;
    width: 24px;
    display: none;
  }
  
  .basket-info-container {
    position: absolute;
    min-height: 100%;
    background: #00000085;
    top: 85px;
    right: 0;
    width: 0rem;
    z-index: 2;
    overflow: hidden;
  }
  
  .basket-info {
      position: absolute;
      min-height: 10rem;
      background: #ADADAD;
      top: 0;
      right: 0;
      transition: all 0.3s ease-in-out;
      width: 0rem;
      z-index: 3;
      overflow: hidden;
  }
  
  .basket-show {
    width: 100%;
    padding: 2rem;
  }
  
  .basket-info-show {
    width: 18rem;
    padding: 2rem;
  }